.provincias-inputs-container {
  display: flex;
  width: 100%;
  min-height: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  .provincias-inputs {
    margin-left: 10px;
    margin-bottom: 15px;
  }
}
a {
  color: rgba(0, 0, 0, 0.534);
  text-decoration: none;
  cursor: pointer;
  &:active {
    color: black;
  }
}
