.header-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
}

.provincia-modify-inputs-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  .provincia-modify-inputs {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
