.result-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  width: 100%;
  max-height: 350px;
  background-color: red;
  margin-bottom: 20px;
  .busqueda-results {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    overflow-y: auto;
    .list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 100%;
      list-style: none;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        width: 100%;
        height: 30px;
        margin-bottom: 10px;
        &:hover {
          color: gray;
        }
      }
    }
  }
}
