.grafica-consulta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  .grafica-space {
    padding: 1rem;
  }
}

.grid-principal-inputs {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  .inputs {
    margin: 0.8rem;
  }
}
