.grafica-consulta {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  .grafica-space {
    padding: 20px;
  }
}

.inputs {
  margin-top: 20px;
}
