.grafica-consulta {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  .grafica-space {
    padding: 20px;
  }
}

.grid-principal-inputs {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  .inputs {
    margin: 15px;
  }
}
