.pais-inputs-container {
  display: flex;
  width: 100%;
  min-height: 200px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  .pais-inputs {
    margin: 10px;
    min-width: 300px;
  }
}
