.App {
  text-align: center;
  .inputs-container {
    display: flex;
    width: 100%;
    min-height: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    .inputs {
      margin-left: 10px;
      margin-bottom: 15px;
    }
  }
  Link {
    color: rgba(0, 0, 0, 0.534);
    text-decoration: none;
    cursor: pointer;
    &:active {
      color: black;
    }
  }

  .header-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
  }

  .modify-inputs-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    .modify-inputs {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .header-buttons {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: flex-end;
    align-items: center;
    .button-input {
      margin-right: 15px;
      a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: white;
      }
    }
  }
}
